.text-main {
    color: $main-color;
}

body {
    overflow-x: hidden;

    .content-header {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .img-logo {
            height: 70px;
        }

        .img-logo-auth {
            height: 60px;
        }

        .title {
            font-weight: bold;
            font-size: 38px;
        }

        .caption {
            font-size: 22px;
        }

        .form-control {
            border-radius: 12px;
            padding: 15px;
            border: 1px #A098AE solid;
            background-color: transparent;

            &::placeholder {
                font-size: 14px;
                color: #A098AE;
            }

            input[type="password"] {
                border-right: 0 !important;
            }
        }

        button[type="submit"] {
            border-radius: 12px;
            padding: 15px;
            min-height: 50px;
        }

        .btn-toggle-password {
            background-color: transparent;
            border: 1px #A098AE solid !important;
            border-left: 0 !important;
        }

        @media (max-width: 769px) {

            .img-logo {
                height: 60px;
            }

            .img-logo-auth {
                height: 50px;
            }

            .main-description {
                font-size: 0.75rem;
                padding: 0 1rem;
            }
        }

        .auth-header {
            padding: 1rem 1rem 0 1rem;

            .text-main{
                display: block;
            }

            h3 {
                font-size: 2rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }

    .ratio-1 {
        aspect-ratio: 1;
    }

    .score-card {
        background-color: $red-color;
        color: #fff;

        .score {
            font-size: 2rem;
            font-weight: 600;
        }

        .description {
            font-size: 1.25rem;
            font-weight: 600;
            margin-top: 12px;
        }

        .respondent-count {
            font-size: 0.75rem;
            margin-top: 8px;
        }
    }

    .invite-to-join {
        img {
            border-radius: 40px;
        }
    }
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #fa8d8d;
}

::-webkit-scrollbar-thumb {
    height: 6px;
    border: 0px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: #ef4040;
}

// Media queries for navbar
.navbar {
    @media (min-width: 769px) {
        .navbar-image {
            height: 3rem;
        }

        .nav-link {
            font-size: 1rem;

            span {
                font-size: 0.5rem;
            }
        }
    }

    @media (max-width: 768px) {
        padding: 0.5rem !important;

        .navbar-image {
            height: 2rem;
        }

        .nav-link {
            font-size: 1rem;

            span {
                font-size: 0.4rem;
            }
        }
    }
}
